id: serverboards.prometheus
name: Prometheus Service Integration
author: David Moreno Montero <dmoreno@serverboards.io>
url: https://serverboards.io
description: |
  This plugin allows Serveboards to connect to a Prometheus installation.

  Prometheus is an state of the art monitoring system that allows to know the
  state of you full infrastucture KPI over time, providing a powerful
  quering system.

  With this plugin is is possible to have graphs in the dashboards as well as
  alerting when some conditions apply.

  Prometheus configuration is done adding services that will define which
  external services exist, or even installs  data exporter agents as required.

  ### How this package works

  There are three main component types:

  * `Target` -- An existing target.
  * `Managed Node Exporter` -- Installs a node exporter on a given SSH server.
  * `Prometheus Server` -- Existing prometheus server

  Normally you need only the `Managed Node Exporter` if you are not using
  Prometheus yet, or `Target` if you already have some prometheus targets
  available. Finally you can add external Prometheus servers if you already have
  a working Prometheus server.

  At install time, this package downloads and configure a custom prometheus
  server, so there is no need to use an external one. Then you add the
  agents, and they are automatically added to the running prometheus server.

  The `Target` and `Managed Node Exporter` are only useful with the provided
  prometheus server, and not any external prometheus server.

version: "18.10"
icon: prometheus.svg


components:
  - id: service
    type: service
    name: External Prometheus Server
    description: Access to an existing Prometheus instance.
    traits: prometheus url cloud server
    icon: prometheus.svg
    fields:
      - name: via
        label: Via service
        description: Connect via this service to access prometheus.
        type: service
        traits: ssh
      - name: url
        label: URL
        description: URL to access prometheus, relative to service
        placeholder: "http://localhost:9090"
        type: url
        card: true
    status:
      command: serverboards.prometheus/daemon
      call: prometheus_is_up
      frequency: 10m

  - id: agent
    type: service
    name: Prometheus Target
    description: |
      Access to an existing prometheus target, as a node_exporter, or any other
      prometheus data exporter.
    traits: prometheus.node cloud
    icon: prometheus.svg
    fields:
      - name: via
        label: SSH Server
        description: Access via this SSH server. leave empty for direct connection.
        type: service
        traits: ssh
      - name: url
        label: URL
        description: URL to access prometheus agent, relative to service.
        placeholder: "http://localhost:9100"
        default: http://localhost:9090
        type: url
        card: true
    status:
      command: serverboards.prometheus/daemon
      call: agent_is_up
      frequency: 10m

  - id: node_exporter
    type: service
    name: Prometheus Managed Node Exporter
    description: |
      Install a node exporter on the given SSH server. This server will start
      providing metrics to the package provided Prometheus server.
    traits: prometheus.node server
    icon: prometheus.svg
    fields:
      - name: server
        label: SSH Server
        description: Install the node exporter at this SSH server.
        type: service
        traits: ssh
        card: true
    status:
      command: serverboards.prometheus/daemon
      call: node_exporter_is_up
      frequency: 10m

  - id: widget
    type: widget
    name: Prometheus graph
    icon: prometheus.svg
    description: |
      Use [PromQL](https://prometheus.io/docs/prometheus/latest/querying/basics/)
      to query prometheus state and show graphs.
      ([More info](https://serverboards.io/blog/2018/04/16/promql))
    params:
      - label: Title
        name: title
      - label: Prometheus service
        name: service
        type: service
        traits: prometheus
        placeholder: If left empty means its at http://localhost:9090
      - label: Prometheus expression
        name: expr
        type: textarea
        description: |
          Check the [Prometheus documentation](https://prometheus.io/docs/querying/basics/)
          for more information.

          Its possible to set several graphs, one on each line.

          Each graph can have a name set as `name:` at the begining of the definition.
        placeholder: "scrape_duration_seconds"
        autocomplete:
          command: serverboards.prometheus/daemon
          call: autocomplete_values

  - id: daemon
    type: cmd
    strategy: singleton
    name: Prometheus proxy
    command: serverboards-prometheus.py
    timeout: 1d
    perms: plugin service.get

  - id: init.daemon
    type: cmd
    strategy: init
    name: Prometheus Supervisor
    command: prometheus-init.py
    perms: plugin service.get action.trigger[serverboards.core.actions/open-issue] action.trigger[serverboards.core.actions/close-issue]

  - id: init
    type: init
    command: init.daemon
    call: start_prometheus

  - id: trigger
    name: Prometheus Alert
    type: trigger
    command: daemon
    traits: prometheus cloud server
    icon: prometheus.svg
    start:
      method: watch_start
      params:
        - name: service
          label: Prometheus service
          type: service
          traits: prometheus
        - name: period
          label: Check period
          description: |
            Check every given time for the expression.
            Time can use time modifiers as 1m, 30s, 1h...
          placeholder: 5m
          card: true
          type: text
        - name: expression
          label: Prometheus expression
          placeholder: "up == 1"
          description: Which expression to watch.
          type: text
      result:
        value: Current value of the expression
    stop: watch_stop

data:
  prometheus:
    url: https://github.com/prometheus/prometheus/releases/download/v2.2.1/prometheus-2.2.1.linux-amd64.tar.gz
    files:
      - prometheus
      - prometheus.yml
      - promtool
  node_exporter:
    url: https://github.com/prometheus/node_exporter/releases/download/v0.16.0-rc.0/node_exporter-0.16.0-rc.0.linux-amd64.tar.gz
    files:
      - node_exporter
