.ui.container > .terminal {
  background: #303030; }
  .ui.container > .terminal .terminal {
    background: #303030; }

.ui.tool.terminal > .ui.top.secondary.header.menu {
  border-bottom: 1px solid #666;
  padding-bottom: 0px; }
  .ui.tool.terminal > .ui.top.secondary.header.menu #tabs {
    overflow: hidden;
    padding-bottom: 2px;
    border: 0px; }

.ui.tool.terminal div.ui.container pre {
  flex-grow: 1;
  box-shadow: 0px 0px 5px #303030;
  border: 0px;
  margin: 2em auto;
  width: calc( 100% - 4em);
  overflow: hidden;
  background: #303030; }

.ui.tool.terminal .ui.header {
  color: #ddd; }

.ui.tool.terminal div.ui.container {
  flex-grow: 1;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  align-items: stretch; }

.ui.tool.terminal .terminal .xterm-viewport {
  visibility: hidden; }

.xterm-theme-serverboards.terminal .xterm-rows div {
  line-height: 16px;
  background: #303030; }
  .xterm-theme-serverboards.terminal .xterm-rows div span {
    display: inline-block; }

.xterm-theme-serverboards.terminal .xterm-color-0 {
  color: #303030; }

.xterm-theme-serverboards.terminal .xterm-color-1 {
  color: #e1321a; }

.xterm-theme-serverboards.terminal .xterm-color-2 {
  color: #6ab017; }

.xterm-theme-serverboards.terminal .xterm-color-3 {
  color: #ffc005; }

.xterm-theme-serverboards.terminal .xterm-color-4 {
  color: #729FCF; }

.xterm-theme-serverboards.terminal .xterm-color-5 {
  color: #ec0048; }

.xterm-theme-serverboards.terminal .xterm-color-6 {
  color: #f2f2f2; }

.xterm-theme-serverboards.terminal .xterm-color-7 {
  color: #2aa7e7; }

.xterm-theme-serverboards.terminal .xterm-color-8 {
  color: #5d5d5d; }

.xterm-theme-serverboards.terminal .xterm-color-9 {
  color: #ff361e; }

.xterm-theme-serverboards.terminal .xterm-color-10 {
  color: #7bc91f; }

.xterm-theme-serverboards.terminal .xterm-color-11 {
  color: #ffd00a; }

.xterm-theme-serverboards.terminal .xterm-color-12 {
  color: #0071ff; }

.xterm-theme-serverboards.terminal .xterm-color-13 {
  color: #ff1d62; }

.xterm-theme-serverboards.terminal .xterm-color-14 {
  color: #4bb8fd; }

.xterm-theme-serverboards.terminal .xterm-color-15 {
  color: #a020f0; }

.xterm-theme-serverboards.terminal .xterm-bg-color-0 {
  background: #303030; }

.xterm-theme-serverboards.terminal .xterm-bg-color-1 {
  background: #e1321a; }

.xterm-theme-serverboards.terminal .xterm-bg-color-2 {
  background: #6ab017; }

.xterm-theme-serverboards.terminal .xterm-bg-color-3 {
  background: #ffc005; }

.xterm-theme-serverboards.terminal .xterm-bg-color-4 {
  background: #729FCF; }

.xterm-theme-serverboards.terminal .xterm-bg-color-5 {
  background: #ec0048; }

.xterm-theme-serverboards.terminal .xterm-bg-color-6 {
  background: #f2f2f2; }

.xterm-theme-serverboards.terminal .xterm-bg-color-7 {
  background: #2aa7e7; }

.xterm-theme-serverboards.terminal .xterm-bg-color-8 {
  background: #5d5d5d; }

.xterm-theme-serverboards.terminal .xterm-bg-color-9 {
  background: #ff361e; }

.xterm-theme-serverboards.terminal .xterm-bg-color-10 {
  background: #7bc91f; }

.xterm-theme-serverboards.terminal .xterm-bg-color-11 {
  background: #ffd00a; }

.xterm-theme-serverboards.terminal .xterm-bg-color-12 {
  background: #0071ff; }

.xterm-theme-serverboards.terminal .xterm-bg-color-13 {
  background: #ff1d62; }

.xterm-theme-serverboards.terminal .xterm-bg-color-14 {
  background: #4bb8fd; }

.xterm-theme-serverboards.terminal .xterm-bg-color-15 {
  background: #a020f0; }
